/* GENERAL */
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
body{
	font-family: 'Ubuntu', sans-serif;
	color:#1F1717;
}

header{
	display:flex;
	position:relative;
	height:150px;
	width:100%;
	justify-content:space-between;
	background-color: #FCF5ED;
}

#logo{
	background-color:transparent;
	width:200px;
	height:100%;
	margin-left: 150px;
	display:flex;
	justify-content: center;
	flex-direction: column;
}
.logo-img{
	width:100%;
	height:100%;
}


header nav a{
	text-decoration:none;
	margin-top:50px;
	color:#FCF5ED;
	height:50px;
	width:150px;
	background-color:#F4BF96;
	border-radius:15px;
	text-align:center;
	display:flex;
	justify-content:center;
	flex-direction:column;
}

header nav a:hover{
	background-color:#CE5A67;
}

header nav a:last-of-type{
	margin-right:50px;
}

header nav{
	display:flex;
	gap:50px;
}

.wrapper{
	width:70%;
	margin:0px auto;	
}

footer{
	background-color:#1F1717;
	color:#FCF5ED;
	padding:20px;
	display:flex;
	min-height:150px;
	width:100%;
	justify-content:space-between;
	flex-wrap: wrap;
	margin-top: 100px;
	bottom: 0;
}

.footer-social{
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer-contact{
	display: flex;
	width: 30%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.footer-contact a, .footer-contact h5{
	font-size: 20px;
}

footer i{
	font-size:18px;
	color:#F4BF96;
	margin-top:20px;
}

footer a{
	text-decoration:none;
	color:#FEFAE0
}

.footer-social-list{
	list-style:none;
	display:flex;
	flex-direction:row ;
	gap:25px;
	margin-top:20px;
}

.footer-social-list .fa {
	font-size: 30px;

}

.footer-social h5{
	font-size: 23px;
}

.footer-navigation{
	width: 30%;
	display:flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

footer nav{
	display:flex;
	flex-direction: column;
	gap:10px;
}

.footer-navigation nav a{
	color:#FEFAE0;
	font-size: 23px;
}

.footer-navigation nav a:hover{
	text-decoration: underline;
}

.copyright{
	width:100%;
	text-align: center;
}

.contact h5{
	font-size: 25px;
}

.h-animation{
	width:100%;
	overflow:hidden;
	animation: left-slide 1s;
}

@keyframes left-slide{
	from{
		margin-left: 100%;
		width:300%;
	}
	to{
		margin-left:0%;
		width:100%;
	}
}

.main{
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:1000px;
	margin-top: 20px;
	flex-wrap:wrap;
}

.splitting-layout{
	display: flex;
	text-align: center;
}

.img-holder-50{
	height:400px;
	width:50%
}

.text-holder{
	width:50%;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: space-around;
	color:#1F1717;
	
	
}

/* GENERAL END */
/* POCETNA START */
.banner{
	width:100%;
	height:250px;
	background-image: url(../img/background.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	display:flex;
	justify-content:center;
	flex-direction:column;
}

#banner-text{
	background-color: rgba(254, 250, 224, 0.5);
	width:50%;
	margin:0px auto;
	border-radius:15px;
	text-align:center;
	display:flex;
	justify-content:center;
	flex-direction:column;
	font-size:40px;
	
}

#banner-text hgroup{
color:#1F1717;
}

#pocetna-promo{
	padding:25px;
	color:#B99470;
	min-height:400px;
	width:80%;
	margin-top:15px;
	display:flex;
	align-self:flex-start;
	border-radius:20px;
	justify-content:space-between;
	gap: 20px;
	flex-wrap:wrap;
}

#pocetna-promo h3{
	color:#CE5A67;
	text-align:center;
	margin-bottom:20px;
	width:100%;
	font-size:50px;
	text-shadow: 2.5px 2.5px 2.5px #CE5A67;
}

.figure-special{
	text-align:center;
	margin-bottom:20px;
	width: 30%;
	margin-top:10px;
	font-size:50px;
	perspective: 1000px;
	display: inline-block;
}

.figure-special figure{
	width:100%;
	height: 100%;
}

.figure-special figure img{
	width:100%;
	height: 100%;
	border-radius: 25px;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

.figure-special:hover figure img {
	transform: rotateY(180deg);
}

.figure-special:hover .back {
	transform: rotateY(360deg);
}

.figure-special .back {
	transition: transform 0.5s;
	background-color: #F4BF96;
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backface-visibility: hidden;
	border-radius: 25px;
	padding:30px;
}

#pocetna-promo .back h3{
	font-size: 16px;
	font-size: 25px;
	text-shadow: 1px 1px 1px #CE5A67;
}

.back p{
	font-size: 25px;
	color:#1F1717
}

.back li{
	font-size: 21px;
	color:#FEFAE0;
	list-style:none;
	text-align:left;
	margin:5px;
	padding:5px;
	text-shadow: 1px 1px 1px #1F1717;
}

.special-vacation{
	background-color: #F4BF96;
	width:100%;
	margin-top:40px;
}

.bali{
	width:100%;
	height:100%;
}

.text-holder p{
	font-size: 15px;
	font-weight:bold;
	width:70%;
	margin:0 auto;
}

.text-holder h5{
	font-size: 25px;
}

.reserve{
	text-decoration: none;
	font-size: 20px;
	color:#CE5A67;
}
.reserve:hover{
	text-decoration: underline;
}

.comments{
	display:flex;
	justify-content: space-evenly;
	padding:20px
	
}

.comment{
	margin-top: 20px;
	background-color: #F4BF96;
	width:20%;	
	height:400px;
	display:flex;
	justify-content: space-between;
	flex-direction:column;
	border-radius: 25px;
	padding:20px;

}

.stars{
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin:auto;
	margin-top:20px;
}

.round-icon{
	display: flex;
	justify-content: center;
	border-radius:50%;
	background-color: white;
	height:60px;
	width:60px;
	align-self: center;
	margin-top: 10px;
}

.round-icon i{
	font-size:40px;
	align-self: center;
}

.comments h5{
	text-align:center;
	margin-top: 10px;
}

.comment-text{
	text-align: center;
	font-size: 18px;
	margin-bottom: 15px;
}

.comment-destination{
	margin-bottom: 30px;
	font-size: 20px;
}

/* Pocetna EMD */

/*Kontakt START*/

#contact{
	background-image: url(../img/putovanje.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	margin: 0px;

}
.formular {
	background-color: #F4BF96;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 40%;
}

.formular h2 {
	margin-bottom: 20px;
	text-align: center;
	color:#FCF5ED;
	width: 100%;
	text-shadow: 1px 1px 1px #1F1717;
 }
  
.formular-group {
	width: 48%;
	margin-bottom: 15px;
}
  
.formular-group-email{
	width: 100%;
	margin-bottom: 15px;
}

.formular label {
	display: block;
	margin-bottom: 5px;
}

.form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.formular-input{
	width: 100%;
	padding: 8px;
	border-radius: 10px;
	border: 1px solid #ccc;
}
  
.formular-group-button{
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
}


.formular-group-button button {
	padding: 10px 20px;
	background-color: #FCF5ED;
	color: #CE5A67;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 30%;
}

.formular-group-button button:hover {
	border:1px solid #1F1717;
}

/*Kontakt END*/
/*O autoru start*/
#author-body{
	background-color: #F4BF96
}

#author-img{
	display:flex;
	width:50%;
}

#author-img img{
	height:620px;
	border-radius: 20px;
}

#author-text{
	display:flex;
	flex-direction: column;
	width:50%;
	height:100%;
	margin-top:140px;
	font-size:32px;
	text-align: center;
	text-shadow: 1px 1px 1px #F4BF96;
}

#author-text p:last-child{
	margin-top:27px;
	align-self: center;
}

#author-block{
	display: flex;
	justify-content: space-between;
	background-color: #aaaaaa;
	border-radius: 25px;
	box-shadow:inset 0px 0px 20px 0px #1f1717;
}

.color{
	color:#FCF5ED
}

#about-author{
	margin-top:20px;
	text-align: center;
	text-shadow: 1px 1px 1px #F4BF96;
	font-size: 50px;
	width: 100%;
}

/*O autoru end*/
/*O nama START*/
#o-nama-body{
	background-color: #F4BF96;
}

.o-nama-info{
	width:100%;
	background-color: #FCF5ED;
	margin-top: 50px;
}

.workers-img{
	width:100%;
	height:100%;
}

#our-workers{
	margin-top:100px;
	display:flex;
	justify-content: space-around;
	width:100%;
	height:700px;
}

.icon-holder{
	display: flex;
	justify-content: center;
	border-radius:50%;
	height:200px;
	width:200px;
	margin:0 auto;
}

.employee{
	border-radius:30px;

}

.worker{
	width:350px;
	border-radius: 30px;
	background-color: rgba(252, 245, 237, 0.6);
	padding:20px;
	
}

.worker-description{
	color:#1F1717;
	font-size:30px;
	margin-top: 10px;
}

.worker-description h5{
	display: flex;
	justify-content: center;
}

.worker-comment p{
	color:#1F1717;
	font-size: 20px;
	margin-top:40px;
}

.lokacija{
	width:800px;
	margin:150px auto 0;
}

.lokacija iframe{
	width:900px;
	height:500px;
	border-radius: 20px;
}

.lokacija h3{
	text-align: center;
	margin-bottom: 30px;
	font-size: 30px;
}

.lokacija address{
	font-size:20px;
	font-weight: bold;
}
/*O nama END*/
/*Ponude START*/

.offers{
	display: flex;
	flex-direction: column;
}

.offer{
	display: flex;
	justify-content: space-between;
	width:100%;
	background-color: #F4BF96;
	margin-top:50px;
	padding:20px;
	border-radius: 20px;
	flex-wrap: wrap;
}

.offer-img{
	width:50%;
	margin-bottom: 20px;
	margin-top:20px;
}

.offer-img img{
	width:60%;
	border-radius: 25px;
	display: block;
	margin: 0 auto;
}

.offer-table{
	width:50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-top:20px;

}

.offer-table table {
	border-collapse:collapse;
	width: 80%;
	height:80%;
	margin: 20px auto;
	color:#F4BF96;
	border-radius: 20px;
}

.offer-table tbody{
	background-color:#1F1717 ;
	border-top-right-radius: 25px;
}
    
.offer-table th {
	background-color: #FCF5ED;

}

.offer-table th:first-of-type{
	 border-top-left-radius:25px;

}

.offer-table th, td {
	border: 1px solid #F4BF96	;
	padding: 8px;
	text-align: center;	
}

.offer-table th:last-of-type{
	border-top-right-radius: 25px;
}

.offer-table tr:last-of-type td:first-of-type{
	border-bottom-left-radius: 25px;
}

.offer-table tr:last-of-type td:last-of-type{
	border-bottom-right-radius: 25px;
}


#our-offers{
	text-align: center;
	margin-top: 50px;
}

.stars-offer{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.offer p{
	width:50%;
	margin:0 auto;
	font-size: 20px;
	padding:20px;
}

.offer h3{
	margin:0 auto;
	padding:20px;
	width:100%;
	text-align: center;
	font-size: 25px;
}


/*Ponude END*/
  
/*galerija start*/
#galerija{
	background-color: #F4BF96;
}

.gallery{
	display: flex;
	flex-direction: column;
}

#h1-galerija{
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}

.gallery-row{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 30px;
}

.gallery img:hover{
	transform:scale(1.2)
}

.gallery-row img{
	width:48%;
	border-radius: 25px;
	transition: transform .1s;
  }
 


 
  
 /*galerija end*/